extends layout

block content
    div.position-relative.overflow-hidden.p-3.p-md.m-md-3.text-center.bg-light
        div.col-md-5.p-lg-5.mx-auto.my-5.header-content
            h1.display-4-.font-weight-bold.mb-4 One Form
            p.lead.font-weight-normal.
                Fill our all forms in one step.
            p.lead.font-weight-normal.
                No repetative entry.
            p.lead.font-weight-normal.
                Get PDFs instantly.
            p.lead.font-weight-normal.
                We don't keep any of your information.
        div.product-device.d-none.d-md-block
        div.product-device.product-device.product-device-2.d-none.d-md-block

    div.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
        a(href='/naturalization')
            div.box.bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
                div.my-3.py-3
                    h2.display-5 Naturalization
                    p.lead.
                        Naturalization is the process by which U.S. citizenship is granted to a 
                        foreign citizen or national after he or she fulfills the requirements 
                        established by Congress in the Immigration and Nationality Act (INA).
                div.file-icon
                    i.fas.fa-file-alt.fa-10x(style='color: #eee; margin-bottom: .5em')
        a.black(href='/greencard')
            div.box.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
                div.my-3.py-3
                    h2.display-5 Green Card
                    p.lead.
                        Having a Green Card (officially known as a Permanent Resident Card (PDF, 6.77 MB) 
                        allows you to live and work permanently in the United States. The steps you must 
                        take to apply for a Green Card will vary depending on your individual situation.
                div.file-icon
                    i.fas.fa-file-alt.fa-10x(style='color: #999; margin-bottom: .5em')

    div.d-md-flex.flex-md-equal.w-100.my-md-3.pl-md-3
        a.black(href='/employment')
            div.box.bg-light.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.overflow-hidden
                div.my-3.py-3
                    h2.display-5 Employment
                    p.lead.
                        Certain foreign nationals who are in the United States may file an 
                        Form I-765 to request employment authorization 
                        and an EAD. Other foreign nationals whose immigration status authorizes them 
                        to work in the United States without restrictions may also use Form I-765 to 
                        apply to U.S. Citizenship and Immigration Services (USCIS) for an EAD that 
                        shows such authorization.
                div.file-icon
                    i.fas.fa-file-alt.fa-10x(style='color: #999; margin-bottom: .5em')
        a(href='/travel')
            div.box.bg-dark.mr-md-3.pt-3.px-3.pt-md-5.px-md-5.text-center.text-white.overflow-hidden
                div.my-3.py-3
                    h2.display-5 Travel
                    p.lead.
                        Use this form to apply for a re-entry permit, refugee travel document, or advance 
                        parole travel document, to include parole into the U.S. for humanitarian reasons.
                div.file-icon
                    i.fas.fa-file-alt.fa-10x(style='color: #eee; margin-bottom: .5em')
