html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
        script.

            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
            }
    title= title
    style.
        .container {
            max-width: 960px;
            padding-right: 4em;
            padding-left: 4em;
        }

        #google_translate_element {
            width: 140px;
        }

        .goog-te-gadget .goog-te-menu-value {
            color: #999 !important;
        }

        .goog-te-gadget-simple {
            background-color: black !important;
            border: none !important;
        }

        /*
        * Custom translucent site header
        */

        .site-header {
            background-color: rgba(0, 0, 0, .85);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
        }
        .site-header a {
            color: #999;
            transition: ease-in-out color .15s;
        }
        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }

        /*
        * Dummy devices (replace them with your own or something else entirely!)
        */

        .product-device {
            position: absolute;
            right: 10%;
            bottom: -30%;
            width: 300px;
            height: 400px;
            background-color: #fff;
            border-radius: 5px;
            -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
            z-index: 2;
            box-shadow: 2px 2px 20px 10px #DCDCDC;
        }


        .product-device-2 {
            top: -25%;
            right: auto;
            bottom: 0;
            left: 5%;
        }


        /*
        * Extra utilities
        */

        .flex-equal > * {
            -ms-flex: 1;
            flex: 1;
        }
        @media (min-width: 768px) {
        .flex-md-equal > * {
            -ms-flex: 1;
            flex: 1;
        }
        }
        .overflow-hidden { overflow: hidden; }
        .header-content { z-index: 3; }

        a.black {
            color: #5c5c5c;
        }

        a:hover {
            color: none;
        }

        a:link {
            text-decoration: none;
        }

        .box {
            height: 650px;
            position: relative;
        }

        .file-icon {
            position: absolute;
            bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }


    body(screen_capture_injected='true', cz-shortcut-listen='true')
        nav.site-header.sticky-top.py-1
            div.container.d-flex.flex-dolumn.flex-md-row.justify-content-between
                a.py-2(href="/")
                    div.d-block.mx-auto(style="height: 1.75em; width: 1.75em; background: url(1form-logo.png); background-size: contain;")
                a.py-2.d-none.d-md-inline-block(href='/naturalization') Naturalization
                a.py-2.d-none.d-md-inline-block(href='/visa') Visa
                a.py-2.d-none.d-md-inline-block(href='/greencard') Green Card
                a.py-2.d-none.d-md-inline-block(href='/employment') Employment
                a.py-2.d-none.d-md-inline-block(href='/travel') Travel
                div#google_translate_element.py-2.d-none.d-md-inline-block
        div
            block content

        script(src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit")
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
