extends layout

block content
    div.container
        h1.mb-4.mt-4= heading
        form(method='POST' action='/naturalization')
            div.row
                div.col-md-4
                    div.form-group
                        label(for='first-name') First Name:
                        input#first-name.form-control(type='text', name='first-name')
                div.col-md-4
                    div.form-group
                        label(for='first-name') Middle Name:
                        input#middle-name.form-control(type='text', name='middle-name')
                div.col-md-4
                    div.form-group
                        label(for='first-name') Last Name:
                        input#last-name.form-control(type='text', name='last-name')
            div.form-group
                label(for='email') Email Address:
                input#email.form-control(type='email', name='email')
            div.form-group
                label(for='mobile-phone') Mobile Phone:
                input#mobile-phone.form-control(type='tel', name='mobile-phone')
            div.form-group
                label(for='occupation') Current Occupation:
                input#occupation.form-control(type='text', name='occupation')
            button.mt-4.btn.btn-primary(type='submit', style="background-color: #383; border-color: #494;") Fill Out Forms
